* { margin:0; padding:0; box-sizing: border-box;}
body {
	background-color: white;
	font-family:;
	font-size: 16px;
	font-style: normal;
	font-weight: 100;
	font-color: black;
}
header {
	padding: 2em 0;
	display: block;
	font-color: white;
	margin-left: 10%;
	margin-right: 10%;
}
nav {
	float: right;
	display: inline-block;
}
nav img {
	float: none;
}
wrapper {
	padding: 3em 0;
	display: block;
	margin-left: 10%;
	margin-right: 10%;
}
footer {
	padding: 1em 0;
	display: block;
	margin-left: 10%;
	margin-right: 10%;
}
h1 {
	outline-style: solid;
	outline-color: black;
}
section {
	padding: 2em 0;
	display: block;
}
section.home {
	background-color: #81B7C4;
}
header h1 {
	float: left;
}
header a, img, h1{
	display: inline-block;
}
footer h1, a{
	display: inline-block;
	text-decoration: none;
}
footer p {
	float: left;
}
footer a {
	float: right;
}
#worktype {
	display: block;
}
.column {
	width: 32.33%;
	float: left;
	padding: 1em;
}
.column img, p {
	text-align: center;
	position: center;
}

