* { margin:0; padding:0; box-sizing: border-box;}
body {
	background-color: white;
	font-family:;
	font-size: 16px;
	font-style: normal;
	font-weight: 100;
	border-style: solid;
	border-width: 10%;
	border-color: black;
	font-color: black;
}
header {
	margin: 10% 10% 0 10%;
	padding: 2em 0;
	display: block;
	width: 100%;
	background-color: black;
	font-color: white;
	position: fixed;
}
wrapper {
	margin: 0 10% 0 10%;
	padding: 3em 0;
	display: block;
	width: 100%;
}
footer {
	margin: 0 10% 0 10%;
	padding: 1em 0;
	display: block;
	width: 100%;
}
h1 {
	outline-style: solid;
	outline-color: black;
}
section {
	padding: 2em 0;
	display: block;
}
section.home {
	background-color: #81B7C4;
}
header h1 {
	float: left;
	font-size: 0.7em;
}
header li, a, img{
	display: inline-block;
}
header li{
	float: right;
	padding: 0 1em;
}
footer p, a{
	display: inline-block;
	text-decoration: none;
}
footer p {
	float: left;
}
footer a {
	float: right;
}
#worktype {
	display: block;
	width: 100%;
}
.column {
	width: 32.33%;
	float: left;
	padding: 1em;
}
.column img, p {
	display: block;
	text-align: center;
	position: center;
}

