@font-face {
	font-family: 'Silent Lips';
	src: url(Silent_Lips-Bold.ttf) format('truetypefont');
}
* { margin:0; padding:0; box-sizing: border-box;}
body {
	background-color: white;
	font-family:;
	font-size: 16px;
	font-style: normal;
	font-weight: 100;
	font-color: black;
}

header {
	display: block;
	font-color: white;
	margin-left: 5%;
	margin-right: 5%;
}
nav {
	float: right;
	display: inline-block;
	padding: 6em 0;
}
nav img {
	float: none;
	width: 2em;
	margin: auto;
}
nav img, h2 {
	display: block;
}
main {
	display: block;
	margin-left: 5%;
	margin-right: 5%;
}
footer {
	padding: 1em 0;
	display: block;
	margin-left: 5%;
	margin-right: 5%;
}
h1 {
	font-family: 'Silent Lips';
	padding: 0 1em;
	text-decoration: underline;
}
p, h2, h3, h4, h5, h6 {
	font-family: 'Open Sans', sans-serif;
}
section {
	padding: 2em 0;
	display: block;
}
section#home {
	background-image: url(/images/kellycanoecropped.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	padding: 8em 0;
}
section#home h1 {
	font-size: 7em;
	text-align: center;
	width: 100%;
}
section#home p{
	padding: 2em 0;
}
section#home span {
	color: white;
	text-align: center;
}
section#contact p {
	padding: 5em 0;
}
img h1 {
	width:;
	float: left;
}
header h2 {
	font-size: 1em;
}
header a {
	padding: 0 1em;
}
header a, img, h2{
	display: inline-block;
	color: black;
}
#dolphlogo {
	display: inline-block;
	width: 11em;
}
#dolphlogo img {
	width: 100%;
}
nav a {
	display:inline-block;
}
footer h1, a{
	display: inline-block;
	text-decoration: none;
}
footer p {
	float: left;
	padding: 0 1em;
}
footer a {
	float: right;
	padding: 0 1em;
}
footer a img {
	height: 1.5em;
}
#worktype {
	display: block;
}
.typecolumn {
	width: 32.33%;
	float: left;
	padding: 1em;
}
.typecolumn img, p {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	display: block;
}
.typecolumn img {
	width: 50%;
}
.screenshot {
	width: 33.33%;
	float: left;
}
.screenshot img {
	text-align: center;
	display: block;
	width: 100%;
	float: left;
}
.clearfix:after {
	content: ".";
	visibility: hidden;
	display:block;
	height: 0;
	clear: both;
}
#slideshow {
	display: none;
}
@media only screen and (min-width: 801px) and (max-width: 1022px) {
	section#home h1 {
		font-size: 6em;
	}
	section#home p {
		padding: 1em 0;
		font-size: 0.9em;
	}
	section#home {
		padding: 5em 0;
	}
}
@media only screen and (min-width:739px) and (max-width: 800px) {
	section#work h1{
		font-size: 1.3em;
	}
	section#contact h1{
		font-size: 1.3em;
	}
	header{
		margin: 0;
	}
	main {
		margin: 0;
	}
	footer {
		margin: 0;
	}
	nav {
		padding: 3em 0;
	}
	#dolphlogo {
		width: 9em;
	}
	#home {
		padding: 6em 0;
	}
}
@media only screen and (max-width: 738px) {
	section#home h1 {
		font-size: 5em;
	}
	section#home p {
		font-size: 0.8em;
	}
	nav {
		padding: 2em 0;
	}
	#dolphlogo {
		width: 7em;
	}
}
@media only screen and (max-width: 650px) {
	main {
		padding: 0 0 3em 0;
	}
	.typecolumn {
		width: 33.33%;
		padding: 1em 0;
	}
	section#home h1 {
		font-size: 4em;
	}
	section#home {
		padding: 5em 0;
	}
	#dolphlogo {
		width: 6em;
	}
	nav img {
		width: 1.5em;
	}
	nav h2 {
		font-size: 0.8em;
	}
	footer a img {
		height: 1em;
	}
}
@media only screen and (max-width: 560px) {
	section#work h1{
		font-size: 1.1em;
	}
	section#contact h1{
		font-size: 1.1em;
	}
	section#home h1 {
		font-size: 4em;
	}
	.typecolumn p {
		font-size: 0.8em;
	}
	section#home {
		padding: 3em 0;
	}
}
@media only screen and (max-width: 470px) {
	section#home h1 {
		font-size: 3em;
	}
	section#home {
		padding: 2em 0;
	}
	nav {
		padding: 1.5em 0;
	}
	#dolphlogo {
		width: 5em;
	}
	nav img {
		width: 1.5em;
	}
	nav h2 {
		font-size: 0.8em;
	}
}
@media only screen and (max-width: 402px) {
	section#home h1 {
		font-size: 2.5em;
	}
	section#home {
		padding: 1em 0;
	}
	#dolphlogo {
		width: 4em;
	}
	nav {
		padding: 1em 0;
	}
	nav img {
		width: 1em;
	}
	nav h2 {
		font-size: 0.7em;
	}
}
@media only screen and (max-width: 351px) {
	section#home {
		padding: 0.1em 0;
	}
}
